node_modules
build
/target
!.vscode

cypress/screenshots/**/*
!cypress/screenshots/**/.gitkeep
cypress/videos/**/*
!cypress/videos/**/.gitkeep
cypress/downloads/**/*
cypress/downloads/**/.gitkeep

/vendor/
