name: Run Cypress on push
on:
    push:
        branches-ignore:
            - main
    workflow_dispatch:
jobs:
    prepare_spec_files:
        name: Prepage file list
        runs-on: ubuntu-latest
        outputs:
            spec: ${{ steps.files.outputs.spec }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Files
              id: files
              run: |
                  # All the .cy.js files in the cypress/e2e directory in an array
                  ls cypress/e2e/*.cy.js | xargs -I{} basename {} .cy.js | jq -Rrs "split(\"\n\") | map(select(length > 0)) | tojson" | tee /tmp/spec.json
                  echo "spec=$(cat /tmp/spec.json)" >> "$GITHUB_OUTPUT"
    npm_install:
        name: Install Node modules
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Cache node modules
              uses: actions/cache@v3
              id: cache-node-modules
              with:
                  path: node_modules
                  key: ${{ runner.os }}-node-modules-${{ hashFiles('**/package-lock.json') }}
            - name: Install npm dependencies
              if: steps.cache-node-modules.outputs.cache-hit != 'true'
              run: npm ci

    test:
        name: WordPress (${{ matrix.spec }})
        needs: [prepare_spec_files, npm_install]
        concurrency:
            group: cypress - ${{ github.event.pull_request.number || github.ref }} - ${{ matrix.spec }}
            cancel-in-progress: true
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                spec: ${{ fromJson(needs.prepare_spec_files.outputs.spec) }}
        steps:
            - name: Clone repo
              uses: actions/checkout@v3
            - name: Restore node modules cache
              uses: actions/cache@v3
              with:
                  path: node_modules
                  key: ${{ runner.os }}-node-modules-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: ${{ runner.os }}-node-modules-

            - name: Install wasm-pack
              uses: jetli/wasm-pack-action@v0.4.0

            - name: Build
              run: |
                  npx eslint --max-warnings 0 .
                  npm run build
            - name: Start server
              run: |
                  npx wp-env start
                  echo "WordPress version: `wp-env run cli core version`"

            - name: Cypress run
              uses: cypress-io/github-action@v5
              with:
                  browser: chrome
                  spec: cypress/e2e/${{ matrix.spec }}.cy.js
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - uses: actions/upload-artifact@v3
              if: failure()
              with:
                  name: cypress-screenshots
                  path: cypress/screenshots
            - uses: actions/upload-artifact@v3
              if: failure()
              with:
                  name: cypress-videos
                  path: cypress/videos
